@font-face {
    font-family: LifeSC;
    src: url(Life-SC.ttf);

    font-family: Casad;
    src: url(casad-serial-heavy-regular.ttf);
}
html, body {
    height: 100%;
}
body {
    background-color: #111;
    display: flex;
}
/* Where I left off. I got the 3d effect to work and I was trying to make the edges of the 
character box fade into the background by using the linear gradient trick from my Mush
website. I couldn't quite get it to work, though. I think I'll work more on the 3d effect
and make a separate page for more extravagant things I'd like to do. */
.right-side, .left-side {
    height: 100%;
    width: 30%;
    z-index: -50;
    margin: 0;
    position: absolute;
}
.left-side {
    float: right;
    background: linear-gradient(to left, rgba(28, 28, 28, 0) , rgba(51, 51, 51, 1) 30%);
}
.right-side {
    
    float: left;
    background: linear-gradient(to right, rgba(28, 28, 28, 0) , rgba(51, 51, 51, 1) 30%);

}
@keyframes scroller {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1280px;
    }
}
.background-box {
    width: 90%;
    height: 500px;
    background-image: url(images/background.jpg);
    background-position: right bottom;
    background-repeat: repeat-x;
    z-index:-1000;
    margin: auto;
    animation: scroller 50s linear infinite;
}

.character-box {
    position: relative;
    width: 1px;
    height: 500px;
    margin: auto;
    z-index: -100;
}

.middle-layer {    
    background-color: #333;

    padding: 6px;
    font-size: 10px;
    font-family: LifeSC;
    color: white;

    /* The positioning of the middle layer */
    position: absolute;
    top: 315px;
    left: 342px;
    z-index: 1;

}
.middle-title {
    margin-bottom: -10px;
}
.middle-subtitle {
    font-size: 12px;
    text-align: right;
}

.layer1, .layer2 {
    position: absolute;
    top: -100px;
    left: -260px;
}

.layer1 {
    z-index: 10;
}
.layer2 {
    z-index: -10;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* The character data box */
.infobox {
    width: 270px;
    background-color: rgb(227, 170, 192, .8);
    text-align: center;
    position: absolute;
    right: -360px;
    top: 196px;
    border-radius: 2px;
    border: 1px solid white;
}
.infobox-title, .infobox-subtitle {
    margin: 3px 0; /*makes text closer together*/
    
    color: white;
    -webkit-text-stroke: .6px black;
}
.infobox-title {
    padding-top: 15px;
    font-family: 'Life SC';
    text-shadow: 0 0.7px 0.9px black;

    font-size: 20px;
    letter-spacing: 5px;
}
.infobox-subtitle {
    font-size: 27px;
    font-family: Casad;
    color: white;

    /* Lots of text shadows to create thickness effect */
    text-shadow: 0 0px 1px black,
                 0 0px 1.1px black,
                 0 0px 1.2px black,
                 0 0px 1.3px black,
                 0 0px 1.4px black,
                 0 0px 1.5px black,
                 0 0px 1.6px black;    
}
.stand-stats {
    padding: 20px;
}
/* Media queries */
@media only screen and (min-height: 700px) {
    body {
      overflow-y: hidden;
    }
  }