@font-face {
    font-family: LifeSC;
    src: url(Life-SC.ttf);

    font-family: Casad;
    src: url(casad-serial-heavy-regular.ttf);
}
html, body {
    height: 100%;
}
body {
    background-color: #111;
    display: flex;
}

@keyframes scroller {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1280px;
    }
}
.background-box {
    width: 90%;
    height: 500px;
    background-image: url(images/background.jpg);
    background-position: right bottom;
    background-repeat: repeat-x;
    z-index:-1000;
    margin: auto;
    animation: scroller 50s linear infinite;
}

.character-box {
    position: relative;
    width: 1px;
    height: 500px;
    margin: auto;
    z-index: -100;
}



.layer1, .layer2 {
    position: absolute;
    top: -100px;
    left: -260px;
}
.shadow-layer {
    position: absolute;
    top: -85px;
    left: -230px;
    filter: brightness(0);
    opacity: 40%;
    z-index: -11;
}
.stand-stats {
    position: absolute;
    top: 170px;
    left: -380px;
    filter: grayscale(100%); 
}


img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.layer1 {
    z-index: 10;
    
}
.layer2 {
    z-index: -10;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* The character data box */
.infobox {
    width: 270px;
    background-color: rgb(227, 170, 192, .8);
    text-align: center;
    position: absolute;
    right: -360px;
    top: 212px;
    border-radius: 2px;
    border: 1px solid white;
}
.infobox-title, .infobox-subtitle {
    margin: 3px 0; /*makes text closer together*/
    
    color: white;
    -webkit-text-stroke: .6px black;
}
.infobox-title {
    padding-top: 15px;
    font-family: 'Life SC';
    text-shadow: 0 0.7px 0.9px black;

    font-size: 20px;
    letter-spacing: 5px;
}
.infobox-subtitle {
    font-size: 27px;
    font-family: Casad;
    color: white;
    padding-bottom: 10px;

    /* Lots of text shadows to create thickness effect */
    text-shadow: 0 0px 1px black,
                 0 0px 1.1px black,
                 0 0px 1.2px black,
                 0 0px 1.3px black,
                 0 0px 1.4px black,
                 0 0px 1.5px black,
                 0 0px 1.6px black;    
}

/* Media queries */
@media only screen and (min-height: 700px) {
    body {
      overflow-y: hidden;
    }
  }